abydos==0.4.0
deprecation==2.0.6
et-xmlfile==1.0.1
jdcal==1.4.1
jellyfish==0.7.2
numpy==1.16.4
openpyxl==2.6.2
packaging==19.0
pyparsing==2.4.0
python-Levenshtein==0.12.0
pyxDamerauLevenshtein==1.5.3
six==1.12.0
textdistance==4.1.3